/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */
:root {
    --main-color: #BED3C4;
    --bg-color: #f1f7f3;
    --footer-color: #AB8657;
    --heading-font-family:'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--heading-font-family);  
}
p, a{
  font-family: var(--default-font-family) ;   
}
.main-wrapper{
    padding: 100px ;
    text-align: center;
}
.navbar{
    background-color: var(--main-color);
    
}
.navbar-brand{
    font-family: var(--default-font-family);
    font-size: 15px;
}
.dropdown-menu{
    border-radius: 0;
}
.dropdown-item:active{
    background-color: var(--bg-color);
}
.dropdown-item:hover{
    background-color: var(--bg-color);
}
.btn-main{
   background-color: var(--main-color);
   font-weight: 500;
    border-radius: 0;
    color: white;
    padding: 15px 30px;
    transition: all 0.2s;
}
.btn-main:hover{
    border-color: var(--main-color);
    border: #000 1px solid;
}
.gallery a{
    text-decoration: none;
    color: #000;
}

footer{
    background-color: var(--footer-color);
    padding: 50px;
    text-align: center;
}
footer a{
    color: white;
    text-decoration: none;
   
}
footer a:hover{
    color: white;
}
.social-links a{
    padding: 10px;
}


/* about styles */
.about-wrapper{
    margin: 50px auto;
}
.about-wrapper p{
   font-size: 12px; 
}
.about-wrapper  img{
    margin-top: 110px;
}
.line{
    margin: 20px 0 40px 0;
    border-top: var(--main-color) 2px solid ;
}

/* Shop styles */
.carts-wrapper{
    text-align: center;
    margin: 30px auto;
}
.carts-wrapper p{
    font-size: 12px;
}
.cart-tittle{
    line-height: 1.7;
}
.btn-second{
    border: #000 1px solid ;
    border-radius: 0;
    padding: 10px 25px;
}

.cart-box{
    background: #f8f9fa;
}
@media(max-width:576px){
    .main-wrapper{
        padding: 40px;
    }
   .gallery-m{
    margin-top: 20px;
}
}